.env
.pycache
__pycache__/
*.pyc
instance/
venv/
.env
.DS_Store
.idea/
.vscode/
*.sqlite3
*.log
coverage
htmlcov/
*.egg-info/
dist/
build/
pip-wheel-metadata/
__pypackages__/
celerybeat-schedule
*.pot
